# background to black
xsetroot -bg black

[ -d ~/config/fonts ] && xset +fp ~/config/fonts
xset fp rehash
xset b off

# xmodmap
xmodmap ~/.xmodmap


# https://bbs.archlinux.org/viewtopic.php?id=176987
export SAL_USE_VCLPLUGIN=gen

export SDL_MOUSE_RELATIVE=0

if [ -f ~/.xrandr ]; then
    . ~/.xrandr
fi

for i in `gnome-keyring-daemon`; do export $i; done

